@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: darkgreen;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

#totalCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.cardTop,
.cardCenter,
.cardBottom {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
}
.cardTop {
  padding-left: 25px;
}

.cardCenter {
  justify-content: center;
}

.cardBottom {
  justify-content: flex-end;
  padding-right: 25px;
}

p {
  font-size: 60px;
}

button {
  background-color: black;
  color: whitesmoke;
  margin-bottom: 15px;
}

input {
  margin: 2px;
}

.title {
  background-color: red;
  align-items: center;
  padding: 2px;
}

h1 {
  color: whitesmoke;
}
